#main {
  display: block;
  padding: 31px 0 37px;
}

.container {
    max-width: 1278px;
    padding: 0 20px;
    margin: 0 auto;
}

.banner {
  background-color: #ccc;
  min-height: 150px; 
}

.ob-banner-compra-gana {
  backgroud-color: #802b8b;

}
